.controlBarContainer, .recordingController, .todosContainer {
  padding: 20px;
}

.controlBar {
  text-align: center;
}

.controlBar input {
  width: 70%;
}

.controlBar input[type="submit"] {
  width: 20%;
}